h1 {
  color: red;
}

h4 {
  color: Red
}

h3 {
  color: Red
}

li {
  color: blue
}

td {
  color: blue
}

a:hover {
  color: black
}

special {
  color: blue;
  font-weight: light;
}

body {
  background-color: lightblue
}

hr {
  Border-style: none;
  height: 0px;
}
